<article *ngIf="blogDetail.result; else loading">
  <app-blog-detail-head
    [title]="blogDetail.result.title"
    [writer]="blogDetail.result.writer"
    [createdAt]="blogDetail.result.createdAt"
    [main_image]="blogDetail.result.main_image"
  ></app-blog-detail-head>

  <div class="container">
    <div class="blog_detail-body">
      <app-blog-detail-content
        [content]="blogDetail.result.content"
      ></app-blog-detail-content>

      <app-blog-detail-footer
        [writer]="blogDetail.result.writer"
        [tags]="blogDetail.result.tags"
      >
        ></app-blog-detail-footer
      >
      <app-blog-detail-comments
        [_id]="blogDetail.result._id"
      ></app-blog-detail-comments>
    </div>
  </div>
</article>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
