<section class="comments">
  <div class="title">
    <h3>نظرات شما</h3>
  </div>

  <div *ngIf="commentsData; else loader">
    <div class="comments-container w-100" *ngFor="let item of commentsData">
      <figure class="comments_body flex">
        <div class="user-data">
          <img
            src="http://localhost:5000/{{ item.profile }}"
            alt=""
            width="50"
          />
        </div>
        <div class="comment-data">
          <div class="comment-data_username w-100">{{ item.username }}</div>
          <div class="comment-data_content">
            <p>
              {{ item.content }}
            </p>
          </div>
          <div class="flex align-center">
            <span class="reply-icon flex align-center">
              پاسخ
              <i-feather name="corner-up-left"></i-feather>
            </span>
            <span class="date-icon flex align-center">
              15/12/79
              <i-feather name="edit"></i-feather>
            </span>
          </div>
        </div>
      </figure>
    </div>
  </div>
</section>

<ng-template #loader></ng-template>
