<div
  class="dark-page-wrapper"
  [ngClass]="sidebarStatus ? 'block' : 'none'"
  (click)="sidebarCloser()"
></div>
<header class="header_body flex">
  <div class="container">
    <div class="header-wrapper flex justify-between">
      <div class="flex align-center">
        <h1 class="header_logo">
          <a href="/" class="c-theme">Mahdi Alipour</a>
        </h1>
      </div>

      <div class="header-sm-wrapper flex align-center">
        <i-feather
          name="menu"
          class="c-black"
          (click)="sidebarOpenHandler()"
        ></i-feather>
      </div>
      <div class="header-lg-wrapper flex align-center">
        <section class="header-menu">
          <ul class="header-nav flex">
            <li *ngFor="let route of headerRoutes">
              <a routerLink="{{ route.path }}">{{ route.title }}</a>
            </li>
          </ul>
        </section>
        <section
          *ngIf="!userData"
          class="header-auth-btns w-100 flex align-center"
        >
          <button style="margin-left: 20px">
            <a routerLink="/auth/login"> ورود </a>
          </button>
          <button class="btn-primary">
            <a routerLink="/auth/register"> ثبت نام </a>
          </button>
        </section>
        <section *ngIf="userData" class="flex align-center">
          <p class="username">{{ userData.username }}</p>
          <img
            src="http://localhost:5000/{{ userData.profile }}"
            style="border-radius: 50%; margin-top: 7px"
            width="40"
            alt=""
          />
        </section>
      </div>
    </div>
  </div>
</header>
<app-sidebar
  class="sidebar-container"
  [ngClass]="sidebarStatus ? 'sidebar-open' : 'sidebar-close'"
  (closeSidebarHandler)="sidebarCloser()"
></app-sidebar>
