@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
@font-face {
  font-family: "main";
  src: url("./assets/fonts/iranyekanwebregular.eot") format("eot"),
    url("./assets/fonts/iranyekanwebregular.ttf") format("truetype"),
    url("./assets/fonts/iranyekanwebregular.woff") format("woff"),
    url("./assets/fonts/iranyekanwebregular.woff2") format("woff2");
}

*,
html,
body {
  font-family: "main" !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.c-pointer {
  cursor: pointer;
}

.modal-header {
  border: 1px solid #f3f3f4;
  padding-bottom: 0;
}
.modal-header > h1,
.modal-header > h2,
.modal-header > h3,
.modal-header > h4,
.modal-header > h5,
.modal-header > h6 {
  display: inline;
  border-bottom: 2px solid #d89661;
  padding-bottom: 10px;
}
