.content {
  z-index: 100;
  border-bottom: 2px solid #ecedff;
  padding-bottom: 30px;
  line-height: 35px;
  margin-bottom: 40px;
  scroll-behavior: smooth;
}

img {
  width: 100% !important;
  height: auto !important;
  border: 1px solid black;
}

@media screen and (max-width: 1000px) {
  .content img {
    width: 100% !important;
    height: auto;
  }
}
