<footer class="w-100 bg-theme">
  <div class="container">
    <div class="flex align-center">
      <h2 class="footer_logo c-white">
        <a href="/" class="c-white">Mahdi Alipour</a>
      </h2>
    </div>

    <div class="footer-container">
      <section>
        <ul class="flex footer-list">
          <li>
            <a routerLink="/blog">بلاگ</a>
          </li>
          <li>
            <a routerLink="/">پورتفولیو</a>
          </li>
        </ul>
        <ul class="flex footer-list">
          <li>
            <a href="#">
              <i-feather name="instagram"></i-feather>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/mahdi-alipour-78b61b224/"
              target="blank"
            >
              <i-feather name="linkedin"></i-feather>
            </a>
          </li>
          <li>
            <a href="#">
              <i-feather name="twitter"></i-feather>
            </a>
          </li>
        </ul>
      </section>
      <section>
        <div
          class="badge-base LI-profile-badge"
          data-locale="en_US"
          data-size="large"
          data-theme="light"
          data-type="HORIZONTAL"
          data-vanity="mahdi-alipour-78b61b224"
          data-version="v1"
        >
          <a
            class="badge-base__link LI-simple-link"
            href="https://ir.linkedin.com/in/mahdi-alipour-78b61b224?trk=profile-badge"
          ></a>
        </div>
      </section>
    </div>
  </div>
</footer>
