<section class="container" *ngIf="portfolio; else loading">
  <div>
    <div class="flex justify-between w-100 portfolio_container">
      <div class="content">
        <portfolio-content
          [title]="portfolio.title"
          [link]="portfolio.link"
          [description]="portfolio.description"
          [technologies]="portfolio.technologies"
        >
        </portfolio-content>
      </div>
      <div class="images">
        <portfolio-imagas
          [main_image]="portfolio.main_image"
          [presentation_images]="portfolio.presentation_images"
        ></portfolio-imagas>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading-container></app-loading-container>
</ng-template>
