.blog_hero {
  height: auto;
  min-height: 450px;
  margin-bottom: 230px;
}

.blog_hero h1 {
  margin: auto;
  margin-top: 90px;
  font-size: 38px;
  width: 90%;
  font-weight: 900;
  text-align: center;
  color: #141c3a;
}

.blog_hero p {
  direction: ltr;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  color: rgba(10, 10, 10, 0.9);
}

@media screen and (min-width: 1000px) {
  .blog_hero h1 {
    width: 60%;
    font-size: 45px;
  }
}
