.sidebar-container i-feather {
  width: 30px;
  height: 30px;
  color: red;
}

.inner_sidebar-container {
  padding-right: 20px;
  box-sizing: border-box;
}
.inner_sidebar-container ul,
.inner_sidebar-container li {
  padding: 0;
}
.inner_sidebar-container a {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.header-auth-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-auth-btns button {
  width: 100%;
}
.sidebar-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sidebar-container a {
  display: block;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
}
.sidebar-container a:hover {
  background: #7a76ff;
  color: #fff;
}
.user-data {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding: 10px;
}
.user-data img {
  border: 1px solid #46afb2;
  padding: 2px;
  margin-left: 10px;
  border-radius: 10px;
}
