<div class="portfolio_content-container">
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <div class="portfolio_content-link flex align-center">
    <i-feather name="tag" style="width: 20px"></i-feather>
    <a href="{{ link }}">مشاهده ی پروژه</a>
  </div>
  <div class="portfolio_content-techs">
    <div class="flex align-center">
      <i-feather name="activity"></i-feather>
      <span> تکنولوژی ها </span>
    </div>
    <ul>
      <li *ngFor="let item of technology_items">{{ item.label }}</li>
    </ul>
  </div>
</div>
