<footer class="w-100">
  <div class="container">
    <div class="flex align-center">
      <h2 class="footer_logo">
        <a href="/" class="c-white">Mahdi Alipour</a>
      </h2>
    </div>

    <ul class="flex footer-list">
      <li>
        <a href="#">بلاگ</a>
      </li>
      <li>
        <a href="#">درباره من</a>
      </li>
      <li>
        <a href="#"> ارتباط با من</a>
      </li>
      <li>
        <a href="#">دوره های آموزشی</a>
      </li>
    </ul>

    <ul class="flex footer-list">
      <li>
        <a href="#">
          <i-feather name="instagram"></i-feather>
        </a>
      </li>
      <li>
        <a href="#">
          <i-feather name="linkedin"></i-feather>
        </a>
      </li>
      <li>
        <a href="#">
          <i-feather name="twitter"></i-feather>
        </a>
      </li>
    </ul>
  </div>
</footer>
