.blog_hero {
  height: 400px;
  background: linear-gradient(to left, rgba(122, 118, 255, 0.09), #fff);
}
.blog_hero .container > div {
  width: 100%;
  padding: 10px;
  height: 400px;
}

.blog_hero-desc h1 {
  font-size: 45px;
  margin: 0;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.blog_hero-img {
  display: none;
}

@media screen and (min-width: 1000px) {
  .blog_hero-img {
    display: block !important;
    background: url(./../../../assets/img/course-hero.png) center center;
    width: 50%;
    height: 400px;
    background-size: cover !important;
  }
  .blog_hero .container > div {
    width: 50%;
    height: 400px;
  }
  .blog_hero-desc h1 {
    width: 80%;
  }
}
