.portfolio_content-container {
  width: 100%;
  height: auto;
  padding-left: 20px;
}

h1 {
  display: block;
  font-size: 45px;
  font-weight: bold;
}

.portfolio_content-link i-feather,
.portfolio_content-techs i-feather {
  color: #272443;
  margin-top: 5px;
  margin-left: 10px;
}

.portfolio_content-link a,
.portfolio_content-techs span {
  font-weight: 600;
  color: #272443;
}
.portfolio_content-link a:hover {
  color: #7a76ff;
}

.portfolio_content-techs {
  margin-top: 20px;
}
.portfolio_content-techs ul {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_content-techs ul li {
  padding: 5px;
  display: inline;
  margin: 5px;
  border: 2px solid #ecedff;
  color: #7a76ff;
  border-radius: 3px;
}
