.blog_detail-container {
  width: 100%;
  margin-top: 100px;
  overflow-x: hidden;
  padding-bottom: 80px;
}
.blog_detail-head {
  display: flex;
  flex-direction: column;
}
.blog_detail-head > section {
  width: 100%;
}
.blog_detail-head h1 {
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #272443;
  display: inline;
}
.blog_detail-head-info {
  font-size: 15px;
  color: #ccc;
  margin-top: -60px;
  margin-bottom: 60px;
  padding-top: 50px;
}
.blog_detail-head-info i-feather {
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  width: 17px;
  top: 4px;
}
.blog_detail-head-img img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 1200px) {
  .blog_detail-head {
    flex-direction: row;
  }
  .blog_detail-head > section {
    width: 50%;
  }
  .blog_detail-head-info {
    margin-top: 0;
    padding-left: 20px;
  }
  .blog_detail-head-img {
    display: flex;
    flex-direction: row-reverse;
  }
  .blog_detail-head h1 {
    font-size: 40px;
  }
  .blog_detail-head-img img {
    width: 80%;
    box-shadow: 27px 23px 28px #27244336;
  }
}
