<div class="container">
  <div class="blog_detail-container">
    <div class="blog_detail-head">
      <section class="blog_detail-head-info">
        <h1>{{ title }}</h1>
        <div class="flex align-center">
          <div>
            <div>
              {{ writer }}
              <i-feather name="pen-tool"></i-feather>
            </div>
          </div>
          <div>
            <div>
              <span style="direction: ltr">
                {{ createdAt }}
                <i-feather name="link"></i-feather>
              </span>
            </div>
          </div>
        </div>
      </section>
      <section class="blog_detail-head-img">
        <img
          src="{{ imageUrl }}{{ main_image }}"
          width="100%"
          height="auto"
          alt="{{ title }}"
        />
      </section>
    </div>
  </div>
</div>
