:root {
  --primary: #fe5f50;
  --white: #fdfdfd;
  --black: #313030;
  --success: #46afb2;
  --danger: #952f38;
  --warning: #8d7f25;
  --gray: #f3f2f0;
  --light-primary: #ffedec;
}

* {
  font-family: main;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white);
  direction: rtl;
  scroll-behavior: smooth;
  max-width: 2000px;
  margin: auto;
}
@font-face {
  font-family: "main";
  src: url("./assets/fonts/iranyekanwebregular(fanum).eot") format("eot"),
    url("./assets/fonts/iranyekanwebregular(fanum).ttf") format("truetype"),
    url("./assets/fonts/iranyekanwebregular(fanum).woff") format("woff"),
    url("./assets/fonts/iranyekanwebregular(fanum).woff2") format("woff2");
}
a {
  text-decoration: none;
  font-weight: 100 !important;
}
.sidebar-nav a {
  font-weight: 100 !important;
  font-weight: 100;
  text-align: right;
}
input {
  font-size: 18px !important;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}
p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--black);
}

.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-30 {
  margin-bottom: 30px;
}
/* layout */
.container {
  width: 95%;
  margin: auto;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.none {
  display: none;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-col {
  flex-direction: column;
}
/**/
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.c-pointer {
  cursor: pointer;
}
.br-100 {
  border-radius: 100%;
}

/* buttons */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background: var(--primary) !important;
  color: var(--white) !important;
}
.btn-primary a {
  color: var(--white);
}

.btn-light {
  background: var(--white);
  color: var(--black);
}
.btn-light a {
  color: var(--black);
}

.btn-dark {
  background: var(--black);
  color: var(--white);
}
.btn-dark a {
  color: var(--white);
}

.btn-success {
  background: var(--success);
  color: var(--white);
}
.btn-success a {
  color: var(--white);
}
.btn-danger {
  background: var(--danger);
  color: var(--white);
}
.btn-danger a {
  color: var(--white);
}
.btn-warning {
  background: var(--warning);
  color: var(--white);
}
.btn-warning a {
  color: var(--white);
}

/* ///////////////// */
.bg-primary {
  background: var(--primary);
}
.bg-succes {
  background: var(--success);
}
.bg-warning {
  background: var(--warning);
}
.bg-dark {
  background: var(--black);
}
.bg-danger {
  background: var(--danger);
}
.bg-light {
  background: var(--white);
}
.light {
  color: var(--white);
}
.primary {
  color: var(--primary);
}
.succes {
  color: var(--success);
}
.warning {
  color: var(--warning);
}
.dark {
  color: var(--black);
}
.danger {
  color: var(--danger);
}
/* colors */
.bg-dark-white {
  background: var(--white);
}

.border {
  border: 1px solid var(--black);
}
pre {
  background: var(--success);
  color: var(--warning);
  overflow: visible;
  text-align: left;
  direction: ltr !important;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  line-height: 22px;
}
button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}
blockquote {
  border-right: 5px solid var(--success);
  font-size: 16px;
  color: var(--gray);
  padding: 10px;
}

.btn-primary:hover,
.btn-primary:hover a {
  color: var(--warning);
}
button:hover,
button:hover a {
  color: var(--warning);
  opacity: 80%;
}
button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px 25px;
}
.content img {
  width: 100% !important;
  padding: 10px;
  border-radius: 20px !important;
}
/* forms */
.form-container {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  font: inherit;
  vertical-align: baseline;
}
.form-container label {
  width: 100%;
  display: block;
  color: rgba(41, 51, 71, 0.65);
  font-size: 1.2rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 1rem;
  -webkit-box-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding: 30px;
  position: relative;
  vertical-align: top;
  border-color: #e6ecf8;
  width: 100%;
  box-sizing: border-box;
}
input {
  height: 2.5em;
}
form.ng-submitted input.ng-invalid.ng-untouched,
form.ng-submitted textarea.ng-invalid.ng-untouched,
form.ng-submitted input.ng-invalid.ng-touched,
form.ng-submitted textarea.ng-invalid.ng-touched {
  border: 2px solid var(--primary) !important;
  transition: border ease-in 0.2s;
}
@media screen and (min-width: 1000px) {
  .container {
    width: 75%;
    max-width: 1200px;
  }
}
.dark-page-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  z-index: 10000;
  background: rgba(39, 36, 67, 0.43);
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.header_logo a,
.footer_logo a {
  font-family: "Lobster", cursive !important;
  font-size: 20px;
}
/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: var(--white);
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  text-shadow: 0 1px 0 var(--white);
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: var(--white);
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: var(--black);
  pointer-events: auto;
}
.toast-success {
  background-color: var(--success);
}
.toast-error {
  background-color: var(--danger);
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: var(--warning);
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--black);
  opacity: 0.4;
}

.opacity-80 {
  opacity: 80%;
}

@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
