section.comments {
  padding-top: 10px;
  height: auto;
}

.title h3 {
  font-size: 18px;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.comments_body {
  width: 90%;
  margin: auto;
  height: auto;
  padding: 10px 0;
  margin-bottom: 10px;
}

.comments_body > .user-data {
  width: 60px;
  height: 100%;
  display: block;
}

.comments_body > .user-data img {
  border-radius: 50%;
}

.comments_body > .comment-data {
  width: 100%;
  height: 100%;
  display: block;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0 7px 20px #edeeffce, 0 4px 5px #ecedffc9;
  border-radius: 5px;
  padding-left: 18px;
}

.comment-data_username {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.comment-data_content {
  font-weight: 400;
}

.comment-data_content p {
  font-size: 13px;
  color: #1c1d1f;
  line-height: 28px;
  padding-left: 10px;
}

.comment-reply {
  width: 90% !important;
  float: left;
}
.comment-reply .comment-data {
  box-shadow: none;
  border-radius: 0;
  border-right: 2px solid #eee;
}

/* icons */
.reply-icon,
.date-icon {
  margin-right: 20px;
  font-size: 13px;
  color: #ccc;
}

.reply-icon i-feather,
.date-icon i-feather {
  width: 20px;
  color: #ccc;
  margin-right: 5px;
}

.reply-icon:hover,
.reply-icon:hover i-feather {
  color: blueviolet;
  cursor: pointer;
}
