@font-face {
  font-family: "main";
  src: url("/fonts/iranyekanwebregular(fanum).eot") format("eot"),
    url("/fonts/iranyekanwebregular(fanum).eot") format("truetype"),
    url("/fonts/iranyekanwebregular(fanum).woff") format("woff"),
    url("/fonts/iranyekanwebregular(fanum).woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: main;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fcfdfe;
  direction: rtl;
}

#nprogress .bar {
  background: #7a76ff !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.c-black {
  color: #272443;
}

.mt-30 {
  margin-top: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.p-5 {
  padding: 5px;
}

article {
  width: 100%;
}

article.main_article img {
  width: 100% !important;
  height: auto !important;
}

article pre {
  background: #ededed !important;
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
  max-height: 500px;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.logo_h1 {
  font-family: "Lobster", cursive !important;
}
