img:hover {
  opacity: 60%;
}

.portfolio-wrapper {
  margin-top: 100px;
}

.portfolio-wrapper h3 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 25px;
  color: #141c3a;
}

.portfolio-container {
  height: auto;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  list-style: none;
}

.portfolio-container > div {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

.portfolio-container > a {
  width: 100%;
  height: 100%;
}

.portfolio-container > div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 7px 20px #edeeffce, 0 4px 5px #ecedffc9;
}
