<section class="blog_detail-footer">
  <div class="flex justify-between flex-wrap">
    <div class="writer-tags">
      <div class="title">
        <h3>درباره نویسنده</h3>
      </div>
      <div>
        <a href="/">
          <div *ngIf="writer !== undefined" class="flex align-center">
            <img
              src="./../../../../assets/img/avatar.png"
              width="50"
              class="br-100"
              alt=""
            />
            <span class="c-black">{{ writer }}</span>
          </div>
        </a>
      </div>
    </div>
    <!-- ///// -->
    <div>
      <div class="title">
        <h3>مقالات مرتبط</h3>
        <div *ngIf="related_posts_length !== 0; else noitem">
          <ul class="related_posts_items">
            <li class="flex" *ngFor="let item of related_posts">
              <div>
                <a href="/blog/{{ item.slug }}">
                  <img src="{{ image_url }}{{ item.main_image }}" />
                </a>
              </div>
              <p>
                <a href="/blog/{{ item.slug }}">{{ item.title }}</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noitem>
  <span>آیتمی وجود ندارد</span>
</ng-template>
