<div class="container">
  <div class="home_hero">
    <h1>سلام من <span class="c-theme">مهدی</span> هستم!!!</h1>
    <p>من طراح و برنامه نویس وب و قالب وبسایت هستم</p>
  </div>
</div>

<div class="technologies">
  <div class="container">
    <div class="inner_technologies flex">
      <div>
        <img src="./../../../assets/img/logos/react.jpg" width="80" alt="" />
      </div>
      <div>
        <img src="./../../../assets/img/logos/angular2.png" width="80" alt="" />
      </div>
      <div>
        <img src="./../../../assets/img/logos/node.png" width="80" alt="" />
      </div>
      <div>
        <img src="./../../../assets/img/logos/asp.png" width="110" alt="" />
      </div>
    </div>
  </div>
</div>
